@* Views/Shared/_Footer.cshtml *@
<footer class="footer">
    <div class="container text-center py-3 text-light">
        &copy; 2025 - BookStore | ساخته شده با <i class="fa-solid fa-heart text-danger"></i>
    </div>
</footer>